thead
	caption
		margin-top: 10px
		margin-bottom: 10px
		margin-left: 50%
		margin-right: 50%

table
	align-self: center
	border: solid
	margin: auto

td
	border: solid
	border-width: 1px
	padding: 5px 0 5px 5px

.number
	width: 10%

.camperName 
	width: 40%

.points
	width: 30%

tr:nth-child(even)
	background: #CCC